.cards{
}

.card{
    img{
        width: 100%;
        filter: brightness(60%);
    }

    .contenu{
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        bottom: 0;
        padding: 32px;
        color: var(--color-white);

        span{
            font-weight: 700;
        }
    }

    .commentaire, .stars{
        display: none;
    }

    &:hover{
        img{
            filter: brightness(40%);
        }
        .commentaire, .stars{
            display: block;
        }
    }
}