.cards{
}

.card{
    img{
        width: 100%;
        filter: brightness(60%);
        transition: all 0.3s ease-in;
    }

    .contenu{
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 16px;
        position: absolute;
        bottom: 0;
        padding: 32px;
        color: var(--color-white);
        height: 2.5%;
        overflow: hidden;
        transition: all 0.3s ease-in;

        span{
            font-weight: 700;
        }
    }

    &:hover{
        img{
            filter: brightness(30%);
        }

        .contenu{
            height: 100%;
        }
    }

    @media (max-width: $breakpoint-md) {
        .contenu{
            height: 100%; 
        }
        
        img{
            filter: brightness(30%);
        }

        svg{
            width: 1.5em;
            height: 1.5em;
        }
    }
}