.hero{ 
    background-color: var(--color-white);
    padding-top: 0;

    .wrapper{
        display: flex;
        justify-content: left;

        .ligne{
            display: grid;
            grid-template-columns: 5fr 7fr;
            align-items: center; 
        }
    }
}

.hero .contenu{
    display: flex;
    flex-direction: column;
    align-items: start;

    p{
        font-size: #{typo(32px, 48px)};
        font-weight: 400;
        line-height: 145%;
    }

    .brand{
        font-size: #{typo(20px, 28px)};
        font-weight: 700;
        line-height: 145%;
    }

    .btn-lg{
        margin-top: 32px;
    }
}

.sociaux{
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--spacing-xl);
    justify-content: center;
    align-items: center;
    

    svg{
        transition: all 0.2s ease-in;
        cursor: pointer;
        
        &:hover{
            color: var(--color-primary);
        }
    }

    
}

.line{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 1px;

    .textLigne{
        font-size: typo(15px);
        transform: rotate(-90deg);
    }

    .l{
        width: 1px;
        height: 100%;
        background-color: var(--color-black);
    }

    .icon--scroll{
        width: 1rem;
        height: 2.5rem;
    }
}