.nav_right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: calc(var(--spacing-xl) / 2);
    transform: translateY(-50%);

    @media (max-width: 1800px) {
        left: calc(var(--spacing-lg) / 2);
    }

    @media (max-width: $breakpoint-md) {
        left: calc(var(--spacing-md) / 2);
    }

    @media (max-width: $breakpoint-sm) {
        display: none;
    }
    
    .point{
        width: 14px;
        height: 14px;
        background-color: var(--color-black);
        border-radius: 100%;
    }

    .actif{
        background-color: var(--color-primary);
        position: relative;

        &::before{
            content: "";
            display: block;
            height: 200%;
            width: 200%;
            border: 1.5px var(--color-black) solid;
            position: absolute;
            top: -50%;
            left: -50%;
            border-radius: 100%;
        }
    }
}

.stopPoint{
    position: relative;
    display: flex;
}
