/* ==========================================================================
   SECTION / ELEMENT
   ========================================================================== */

section{
    padding: 64px 0;
}

.ligne{
    padding-left: 100px;

    @media (max-width: 1200px) {
        padding-left: 50px;     
    }

    @media (max-width: $breakpoint-sm) {
        padding-left: 0;     
    }
}

ul{
    margin: 0;
    padding: 0;
}