/* ==========================================================================
   SECTION / ELEMENT
   ========================================================================== */

section{
    padding: 64px 0;
}

.ligne{
    padding-left: 100px;
}

ul{
    margin: 0;
    padding: 0;
}