/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f2f5f8;
    --color-black: #0d141c;

    // Couleurs du projet
    --color-primary: #41628b;
    --color-primary-light: #d8e0e9;
}
