{% include "_partials/_header.html" %}

<div class="nav_right">
    <a class="point point_hero js-point" href="#hero"></a>
    <a class="point point_spec js-point" href="#spec"></a>
    <a class="point point_config js-point" href="#config"></a>
    <a class="point point_avis js-point" href="#avis"></a>
    <a class="point point_appli js-point" href="#appli"></a>
</div>

<section class="hero js-section" id="hero">
    <div class="wrapper">
        <div class="line">
            <div class="l"></div>
            <span class="textLigne">scroll</span>
            <svg class="icon icon--scroll">
                <use xlink:href="#icon-arrowDown"></use>
            </svg>
        </div>
        <div class="ligne">
            <div class="contenu" data-scrolly="fromRight">
                <p class="brand">SHELL Sound</p>

                <div class="swiper swiper_hero" data-component="Carousel" data-direction="vertical" data-loop data-autoplay>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><h1>Haut-parleur</h1></div>
                        <div class="swiper-slide"><h1>Horloge</h1></div>
                        <div class="swiper-slide"><h1>Assistant vocal</h1></div>
                        <div class="swiper-slide"><h1>Vidéo</h1></div>
                    </div>
                </div>

                <p>à portée de main,<br>à chaque instant</p>
                <a href="" class="btn btn-lg"><span class="text_btn">Acheter</span></a>
            </div>
            <div class="media" data-scrolly="fromRight">
                <img src="assets/images/hero.png" alt="Haut-parleur Shell Sound">
            </div>
        </div>
        <div class="sociaux">
            <a href="https://www.facebook.com/" target="_blank">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
            </a>
            <a href="https://www.x.com/" target="_blank">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-youtube"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="spec js-section" id="spec">
    <div class="wrapper">
        <div class="ligne">
            <h2>Votre nouvel allié au quotidien</h2>
            <h3>Que ce soit pour planifier, divertir ou informer, cet assistant est conçu pour s’adapter à votre mode de vie.</h3>
            <p>Avec ses commandes vocales, son écran interactif et ses multiples fonctionnalités, il simplifie chaque moment de votre journée, de votre réveil à votre détente.</p>
            <div class="stats" data-scrolly="gap">
                <div class="stat">
                    <p class="top"><span>8</span>po</p>
                    <p class="bottom">D’écran tactile LED</p>
                </div>
                <div class="stat">
                    <p class="top"><span>4</span>micros</p>
                    <p class="bottom">Pour un contrôle vocal supérieur </p>
                </div>
                <div class="stat">
                    <p class="top"><span>10</span>w</p>
                    <p class="bottom">D’audio pour un son riche</p>
                </div>
                <div class="stat">
                    <p class="top"><span>50</span>%</p>
                    <p class="bottom">Moins d’énergie en mode veille</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="config js-section" id="config">
    <div class="wrapper">
        <div class="ligne">
            <h2 data-scrolly="fromBottom">Adaptez-le à votre décor</h2>

            <div class="grid-2">
                <img class="js-configImg1" src="assets/images/bleuGlacial1.jpg" alt="">
                <img class="js-configImg2" src="assets/images/bleuGlacial2.jpg" alt="">
                <img class="js-configImg3" src="assets/images/bleuGlacial3.jpg" alt="">
                <div class="options">
                    <div class="option">
                        <h5>SHELL Sound</h5>
                        <p>Assistant domestique intelligent</p>
                    </div>
                    <div class="option">
                        <p class="couleur_titre js-titleColor">Bleu glacial</p>
                        <div class="couleurs">
                            <div class="couleur bleu actif js-btnCouleur js-btnBleu" data-color="bleuGlacial"></div>
                            <div class="couleur rouge js-btnCouleur js-btnRouge" data-color="rougeSaumon"></div>
                            <div class="couleur mauve js-btnCouleur js-btnMauve" data-color="lavande"></div>
                            <div class="couleur vert js-btnCouleur js-btnVert" data-color="vertPastel"></div>
                        </div>
                    </div>
                    <div class="option prix">179,99$</div>
                    <a href="" class="option btn btn-lg"><span class="text_btn">Acheter</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="avis js-section" id="avis">
    <div class="wrapper">
        <div class="ligne">
            <h2>Vos avis, notre fierté</h2>
            <div class="swiper cards" data-component="Carousel" data-slides="2.5" data-space="64" data-split data-scrolly="cardGap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide card">
                        <img src="assets/images/Leslie.jpg" alt="">
                        <div class="contenu">
                            <p class="commentaire">Depuis que j'ai ce nouvel assistant intelligent, ma maison est plus connectée que jamais. J'utilise la commande vocale pour tout, de la météo à la musique, et l'écran interactif est super pratique pour suivre mes rendez-vous. Je ne pourrais plus m'en passer !</p>
                            <div class="stars">
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <span>Leslie Alexander</span>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <img src="assets/images/Jacob.jpg" alt="">
                        <div class="contenu">
                            <p class="commentaire">J'adore pouvoir tout contrôler avec ma voix : la météo, la musique et même les vidéos pour mes enfants. L'écran est super net et réactif. Franchement, un vrai game-changer pour notre maison !</p>
                            <div class="stars">
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <span>Jacob Jones</span>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <img src="assets/images/Arlene.jpg" alt="">
                        <div class="contenu">
                            <p class="commentaire">Je ne savais pas que j'avais besoin de ce produit avant de l'acheter ! Maintenant, je ne peux plus imaginer ma routine sans lui. Le design est élégant, et les fonctionnalités sont parfaitement adaptées à ma vie quotidienne.</p>
                            <div class="stars">
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <span>Arlene McCoy</span>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <img src="assets/images/Guy.jpg" alt="">
                        <div class="contenu">
                            <p class="commentaire">Ce produit a complètement transformé mon quotidien. Le matin, je me réveille avec ma musique préférée, je consulte la météo en un clin d'œil, et je passe même des appels vidéo sans toucher mon téléphone. C'est l'assistant parfait pour une maison moderne.</p>
                            <div class="stars">
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon--xl">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <span>Guy Hawkins</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-flex">
                    <button class="custom-button-prev">
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-arrowLeft"></use>
                        </svg>
                    </button>
                    <button class="custom-button-next">
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-arrowRight"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appli js-section last-section" id="appli">
    <div class="wrapper">
        <div class="ligne">
            <div class="contenu">
                <h2 data-scrolly="fromBottom">Votre assistant, partout avec vous</h2>
                <h3>L'application mobile rend votre assistant encore plus puissant.</h3>
                <p>Programmez, personnalisez et contrôlez toutes les fonctionnalités de votre assistant depuis votre téléphone. </p>
                <div class="cta">
                    <a href="" class="btn btn_appli">
                        <span class="text_btn">
                            <svg class="icon icon--appli">
                                <use xlink:href="#icon-googlePlay"></use>
                            </svg>
                            <p>Disponible sur<br><span>Google Play</span></p>
                        </span>
                    </a>
                    <a href="" class="btn btn_appli">
                        <span class="text_btn">
                            <svg class="icon icon--appli">
                                <use xlink:href="#icon-apple"></use>
                            </svg>
                            <p>Télécharger dans<br><span>l’App Store</span></p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media">
                <img src="assets/images/Iphone.png" alt="">
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
